.addproduct {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.addproduct__title {
  font-size: xx-large;
  font-weight: 500;
  text-align: center;
}

.addproduct__container1 {
  width: 58%;
  margin-left: 21%;
}

.addproduct__container2 {
  width: 57%;
  margin-left: 21.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addproduct__container3 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addproduct__container4 {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addproduct__input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1%;
}

.addproduct__input > label {
  font-size: 1em;
  font-weight: bolder;
  margin-bottom: 1%;
}

.addproduct__input > input {
  padding: 1vh;
  font-size: 1em;
}

.addproduct__input > select {
  padding: 1vh;
  font-size: 1em;
}

.addproduct__addButton {
  text-align: center;
}

.addproduct__addButton > Button {
  background-color: #ffa41c;
  text-transform: unset;
  margin-top: 2%;
  margin-bottom: 2%;
}

.addproduct__addButton > Button:hover {
  background-color: #de7921;
}

.rupee__symbol__large {
  font-size: 1em;
  font-weight: 600;
}

.editproduct__deleteproductButton {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.editproduct__deleteproductButton > Button {
  color: white;
  background-color: rgb(255, 60, 60);
  text-transform: none;
}

.editproduct__deleteproductButton > Button:hover {
  background-color: rgb(110, 0, 0);
}
