.orderplaced {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.orderplaced__container {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderplaced__title {
  font-size: x-large;
  font-weight: bold;
  color: green;
  border: 3px solid green;
  border-radius: 1%;
  padding: 1% 1%;
  margin-bottom: 5%;
}

.orderplaced__button {
  margin-bottom: 2%;
}

.orderplaced__button > Button {
  background-color: #ffa41c;
  text-transform: unset;
}

.orderplaced__button > Button:hover {
  background-color: #de7921;
}
