.productdescription__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productdescription {
  display: flex;
  width: 100%;
  border-radius: 1%;
}

.MuiDialog-paperWidthSm {
  max-width: 80% !important;
  min-width: 100%;
  max-height: 90vh;
}

.MuiDialogContent-root {
  padding: 1% 2% 2% 2% !important;
}

.MuiDialogContentText-root {
  margin-bottom: 5% !important;
  margin-left: 6% !important;
}

.productdescription__image {
  flex-basis: 70%;
  min-width: 30vw;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productdescription__image > img {
  max-height: 70vh;
  width: 100%;
  object-fit: contain;
}

.productdescription__imagesContainer {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.productdescription__imagesContainer > div > label > img {
  max-height: 10vh;
  max-width: 10vh;
  min-width: 10vh;
  min-height: 10vh;
  width: 100%;
  object-fit: contain;
  border: 1px solid grey;
  border-radius: 10%;
  margin-bottom: 1%;
  cursor: pointer;
  transition: 450ms ease;
}

.productdescription__images {
  position: absolute;
  left: -9999px;
}

.productdescription__images:checked + label > img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #ff9900;
}
