.product {
  display: flex;
  flex-direction: column;
  min-width: 21.5%;
  max-width: 25%;
  border-radius: 1%;
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  margin: 1%;
  padding: 10px 10px;
  z-index: 1;
  transition: transform 450ms;
}

.product:hover {
  transform: scale(1.05);
}

.product__info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.productinfo__title {
  font-weight: bold;
}

.productinfo__rating {
  display: flex;
  color: #ffa41c;
}

.reviews__arrow {
  color: #007185;
  margin-top: 1%;
}

.productinfo__reviewscount {
  color: #007185;
  font-size: small;
  margin-top: 1.5%;
}

.productinfo__price {
  margin-left: 1%;
  font-size: larger;
  font-weight: bold;
  color: maroon;
}

.rupee__symbol {
  font-size: smaller;
}

.product__image {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product__image > img {
  max-height: 20vh;
  width: 100%;
  object-fit: contain;
}

.productinfo__addtoCart {
  flex-basis: 20%;
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productinfo__addtoCart > Button {
  background-color: #ffa41c;
  text-transform: unset;
}

.productinfo__addtoCart > Button:hover {
  background-color: #de7921;
}

.productEdit__container {
  display: flex;
  justify-content: flex-end;
}

.product__editButton {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  color: grey;
  transition: transform 450ms;
}

.product__editButton:hover {
  color: black;
  transform: scale(1.08);
}
